* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  color: inherit;
  text-decoration: none;
}

#root {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  padding: 10px 0;
}
